*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height:100vh ;
    width: 100vw;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currency_converter{
    background-color:#ff5252 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
.img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    background-image: url("./assets/currency_img.png");
    background-size: cover;
    background-position: center;
}
@media(min-width:500px){
    .currency_converter {
        padding: 10px;
    }
    .img {
        width: 100px;
        height: 100px;
    }
    .result {
        font-size: 18px;
        padding: 10px;
    }
}


h1{
    text-align: center;
    color: #fff;
    margin: 20px 0;
}
.data label{
    display: block;
    color: #a8e6b7ee;
    margin: 5px 0;
}
.data input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.data input:hover{
    background-color: #0bada5;
    padding: 15px 10px;
    color: #fff;
    font-size: 17px;
}
.fromcurrency select{
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.fromcurrency select:hover{
    background-color: #0bada5;
    padding: 15px 5px;
    color: #fff;
}
.tocurrency select{
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.tocurrency select:hover{
    background-color: #0bada5;
    padding: 15px 5px;
    color: #fff;
}
.result{
    border: 2px solid #3d3d3d;
    color: white;
    font-size: 24px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #0bada5;
    text-align: center;
    cursor: none;
}